{% extends "Layouts/default.html.twig" %}
{% block title %}votre nouveau mot de passe{% endblock %}
{% block main %}
    <div class="container mt-4 bg-light rounded p-4">
        {{ form_start(form) }}
        <h1>nouveau de mot de passe</h1>
        {{ form_widget(form) }}
        <button class="btn btn-primary">Confirmer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
